body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

.top-list ul {
    width: 500px;
    height: 50px;
    font-size: 16px;
    margin-left: 75px;
    list-style: none;
    overflow: hidden;
    clear: both;
}

.top-list ul li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.right-list {
    display: inline-block;
}

.right-list ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.right-list ul li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.rectangle {
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background: -webkit-linear-gradient(left, transparent 98%, rgb(193, 193, 193) 0), -webkit-linear-gradient(top, transparent 98%, rgb(193, 193, 193) 0);
    background: linear-gradient(left, transparent 98%, rgb(193, 193, 193) 0), linear-gradient(top, transparent 98%, rgb(193, 193, 193) 0);
    background-size: 50px 50px;
    position: relative;
}

.ipt-part {
    margin-left: 50px;
}

.order {
    width: 300px;
    height: 30px;
}

.btn {
    width: 50px;
    height: 30px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    background: rgb(236, 72, 72);
}

.car {
    width: 50px;
    height: 50px;
    position: absolute;
    background: -webkit-linear-gradient(top, blue 30%, red 40%);
    background: linear-gradient(top, blue 30%, red 40%);
    left: 56px;
    top: 50px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes tl {
    0% {
        transform: rotate(0deg);
    }
    33% {
        border-radius: 20%;
        transform: rotate(0deg);
    }
    67% {
        border-radius: 20%;
        transform: rotate(-90deg);
    }
    100% {
        border-radius: 0;
        transform: rotate(-90deg)
    }
}

@keyframes tr {
    0% {
        transform: rotate(0deg);
    }
    33% {
        border-radius: 20%;
        transform: rotate(0deg);
    }
    67% {
        border-radius: 20%;
        transform: rotate(90deg);
    }
    100% {
        border-radius: 0;
        transform: rotate(90deg)
    }
}

@keyframes tt {
    0% {
        transform: rotate(0deg);
    }
    33% {
        border-radius: 20%;
        transform: rotate(0deg);
    }
    67% {
        border-radius: 20%;
        transform: rotate(180deg);
    }
    100% {
        border-radius: 0;
        transform: rotate(180deg)
    }
}

@keyframes tb {
    0% {
        transform: rotate(0deg);
    }
    33% {
        border-radius: 20%;
        transform: rotate(0deg);
    }
    67% {
        border-radius: 20%;
        transform: rotate(0deg);
    }
    100% {
        border-radius: 0;
        transform: rotate(0deg)
    }
}